* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to bottom right, lightgray, white);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    height: 100%;
    margin: 0;
    padding: 0;
}
/*
.button {
  background-color: #3d6ded;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  width: 120px;
}*/

.card {
    align-items: center;
    background-image: linear-gradient(to bottom right, white, lightgray);
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, 1);
    -moz-box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, 1);
    box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px;
    padding: 50px;
}
/* The navbar container */
nav {
    margin: 0 auto;
    padding: 0.5rem;
    width: 100%;
    position: fixed;
    /* flex:freeze; */
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

nav li {
  width: auto;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  background-color:#F2EBDF;
  border: 2px solid grey;
  display: inline-block;
} */

/* Navbar links */
nav a {
    width: 100%;
    background-color: #F2EBDF;
    border: 2px solid grey;
    display: flex;
}
.nav__middle-buttom {
    border-left: 0;
    border-right: 0;
}
nav a:link {
    padding: 1rem;
    text-decoration: none;
    text-align: center;
    color: black;
    display: block;
    /* will take all space */
}
nav a:visited {
    color: black;
}
nav a:hover {
    background-color: whitesmoke;
    color: red;
}
.nav-item {
    align-self: flex-end;
    color: #3d6ded;
    font-size: 18px;
    margin: 15px;
    text-decoration: none;
}
/* All and Home */
.page-wrapper {
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    padding-top: 80px;
    min-width: 504px;
}
.profile-image {
    background-color: black;
    border-radius: 50%;
    color: white;
    font-size: 32px;
    height: 180px;
    margin: 50px;
    width: 180px;
}

/* footer*/
.footer-class {
    width: 100%;
    text-align: center;
    background-color: #F2EBDF;
    border: 2px solid gray;
    padding: 1rem;
}
.footer-class ul {
    list-style-type: none;

}
.footer-class li {
    display: inline-block;
    padding: 1rem;
}
.footer-class a {
    text-decoration: none;
}
.footer-class a:link {
    text-decoration: none;
    color: gray;
}
.footer-class a:visited {
    color: black;
}
.footer-class a:hover {
    color: red;
    cursor: pointer;
}
.footer__text {
    text-align: center;
    padding-left: 2rem;
}

/* About page */

.section1 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background-color: white;
    width: 80%;
    padding: 2rem;
}
.section1-col-left {
    flex-basis: 50%;
}
.section1-col-right {
    flex-basis: 40%;
    text-align: center;
}
.section1__item-list {
    background-color: rgba(211, 211, 211, 0.432);
    text-align: left;
    padding: 1rem 1rem 2rem 2rem;

}
.section1__item-list ul {
    padding-left: 1rem;
}
.block-education {
    background-color: white;
    border-top: 2px solid lightgray;
    width: 80%;
    padding: 2rem;
}
.block-education ul {
    list-style-type: none;
    padding: 0;
}
.block-education li {
    margin-bottom: 1rem;
}
.block-education li:before {
    content: "\1F393";
    margin-right: 1.5rem;
}
.section2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-color: white;
    border-top: 2px solid lightgray;
    width: 80%;
    padding: 2rem;
}
.section2-left {
    flex-basis: 50%;
}
.section2-right {
    flex-basis: 40%;
    /* border: 2px solid green; */
    text-align: center;
}
.button {
    padding: 1rem;
    font-size: inherit;
    border-radius: none;
    border: 2px solid gray;
    background-color: #F2EBDF;  
}
.section2__button {
    margin: 0.3rem 0;
}
.section2__button:hover {
    background-color: whitesmoke;
    cursor: pointer;
}
.link {
    cursor: pointer;
    color: black;
}
.link:hover {
    cursor: pointer;
    color: red;
}
/* Contact */
.page-wrapper-contact {
    text-align: center;
    padding-top: 80px;
}
.contact-wrapper {
    background-color: white;
    text-align: center;
    padding: 2rem;
}
.contact-form {
    margin: 0 auto;
}
legend {
    font-size: 1.3em;
    padding: 0 0.3rem;
    margin: 0 auto;
    color: gray;
}
.contact-form fieldset {
    padding: 2rem;
    margin: 1rem auto;
    /* background-image: linear-gradient(to bottom, lightgray, white); */
    border: 3px solid lightgray;
    background-color: whitesmoke;
    width: 60%;

}
.contact-form__label {
    /* display: block; */
    padding-right: 0.5rem;
    /* float: left; */
    /* width: 25%; */
}
.contact-form__input {
    width: 100%;
    height: 1.7rem;
    font-size: 0.8rem;

}
.contact-form__input_width-short {
    width: 50%; 
}
.contact-form__input:focus {
    outline: none;
    border-color: #4697e4;
}
.contact-form__line {
    display: block;
    text-align: right;
    padding-bottom: 1rem;
}
.textarea {
    height: 10rem;
    padding: 0.5rem;
    font-family: 'Open Sans', sans-serif;
}



/* form > div {
    clear: both;
    overflow: hidden;
    padding: 1px;
    margin: 0 0 10px 0;
  }
  form > div > fieldset > div > div {
    margin: 0 0 5px 0;
  }
  form > div > label,
  legend {
      width: 25%;
    float: left;
    padding-right: 10px;
  }
  form > div > div,
  form > div > fieldset > div {
    width: 75%;
    float: right;
  }
  form > div > fieldset label {
      font-size: 90%;
  } */
/* input[type=text],
input[type=email],
input[type=tel],
input[type=password],
textarea {
	width: 100%;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
} */

/* input[type=text],
input[type=email],
input[type=tel] {
  width: 50%;
} */
/* input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
input[type=password]:focus,
textarea:focus {
  outline: 0;
  border-color: #4697e4;
} */

@media (max-width: 600px) {
    .contact-form__label {
    float: left;
    }
    form > div {
      margin: 0 0 15px 0; 
    }
    form > div > label
     {
        width: 100%;
      float: none;
      margin: 0 0 5px 0;
    }
    form > div > div,
    form > div > fieldset > div {
      width: 100%;
      float: none;
    }
    input[type=text],
    input[type=email],
    input[type=tel],
    input[type=password],
    textarea,
    select {
      width: 100%; 
    }
  }
  @media (min-width: 1200px) {
    form > div > label,
      legend {
        text-align: right;
    }
  }

/* Submit button */
.button-form {
    margin: 0.3rem 0;
}
.button:hover {
    background-color: whitesmoke;
    cursor: pointer;
    /* box-shadow: 0 5px 5px 0 gray;
    transition: box-shadow 1s; */
}
.button:disabled {
    cursor: not-allowed;
    display: disabled;
}

/* .button-form_disabled {
    cursor: not-allowed;
    display: disabled;
}
.button-form_active {
    display: block;
} */